/*  CSS Reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #445ef1;
  color: #3a415e;
  margin: 20px;  
}

.custom-form{
  width: 555;
  max-width: 100%;
  padding: 90px 80px 90px 80px;
  background-color: #fff;
  margin: 40px;
  border-radius: 15px;
}

.custom-form input, select, textarea{
  background-color: #f3f6fa;
  width: 100%;
  max-width: 400px;
  min-height: 40px;
  height: 40px;
  border: none;
  color: gray;
  font-size: 0.875rem;
  resize: vertical;
  font-family: Arial, Helvetica, sans-serif;
}




#img_poweredby{
  position:relative;
  width: 50%;
  height: auto;
  left: 11.3rem;
  top: 3rem;
 
 
}
  
#submit{
  background-color: #4761f8;
  width: 50%;
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

#submit:hover{
background-color: #7993FF
}

input::placeholder,
textarea::placeholder {
    color: gray;
    font-size: 0.875rem;
    padding-left: 10px;
    padding-top: 15px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

#img_line{
position:relative;
left: -5px;
top: -25px;
max-width: 100%; 
height: auto;
}

#email{
  position: relative;
  left: 0px;
  background: url('email_icon.svg') no-repeat;
  background-position: calc(100% - 10px) center;  
  background-size: 15px; 
  background-color: #f3f6fa;
}